// Variables of Gemini scheme
// ==================================================

@import 'Pisces';

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #222;

// Borders.
// --------------------------------------------------
$box-shadow-inner        = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
$box-shadow              = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 -1px .5px 0 rgba(0, 0, 0, .09);

$border-radius-inner     = initial;
$border-radius           = initial;
// $border-radius-inner     = 0 0 3px 3px;
// $border-radius           = 3px;


$site-author-name-margin              = 5px 0 0;
$site-author-name-color               = #222;
$site-author-name-weight              = bold;

$site-description-font-size           = $font-size-small;
$site-description-color               = #444;
$site-description-margin-top          = 5px;

$btn-default-radius                    = 0;
$btn-default-bg                        =transparent;
$btn-default-bg-dark                   = $black-deep;
$btn-default-color                     = #111;
$btn-default-color-dark                = $text-color-dark;
$btn-default-border-color              = $black-deep;
$btn-default-border-color-dark         = $black-light;
$btn-default-hover-bg                  = white;
$btn-default-hover-bg-dark             = $grey-dim;
$btn-default-hover-color               = $black-deep;
$btn-default-hover-color-dark          = $text-color-dark;
$btn-default-hover-border-color        = $black-deep;
$btn-default-hover-border-color-dark   = $grey-dim;




