<div>
    {% if not is_index %}
        <div style="text-align:center;color: #115; font-size:18px; font-weight: bold; margin-top: 20px;">- - - - - - - - 本文结束 - - - FIN. - - - - - - - -  </div>
    {% endif %}
</div>